<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.home.title">Plan Passations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plan-passation" [routerLink]="['/plan-passation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.home.createLabel">
            Create a new Plan Passation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="planPassations?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.home.notFound">No planPassations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="planPassations && planPassations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <!--<th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="dateDebut"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateFin"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="annee"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.annee">Annee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commentaire"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.commentaire">Commentaire</span> <fa-icon icon="sort"></fa-icon></th>
                                    <!-- <th scope="col"  jhiSortBy="dateCreation"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateMiseValidation"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.dateMiseValidation">Date Mise Validation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateValidation"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.dateValidation">Date Validation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statut"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.statut">Statut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commentaireMiseEnValidationAC"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.commentaireMiseEnValidationAC">Commentaire Mise En Validation AC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="referenceMiseValidationAC"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.referenceMiseValidationAC">Reference Mise Validation AC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fichierMiseValidationAC"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.fichierMiseValidationAC">Fichier Mise Validation AC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateMiseEnValidationCcmp"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.dateMiseEnValidationCcmp">Date Mise En Validation Ccmp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fichierMiseValidationCcmp"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.fichierMiseValidationCcmp">Fichier Mise Validation Ccmp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="referenceMiseValidationCcmp"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.referenceMiseValidationCcmp">Reference Mise Validation Ccmp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateValidation1"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.dateValidation1">Date Validation 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commentaireValidation"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.commentaireValidation">Commentaire Validation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="referenceValidation"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.referenceValidation">Reference Validation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fichierValidation"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.fichierValidation">Fichier Validation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateValidation2"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.dateValidation2">Date Validation 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateRejet"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.dateRejet">Date Rejet</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datePublication"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.datePublication">Date Publication</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commentairePublication"><span jhiTranslate="gatewaysigmapApp.planpassationmsPlanPassation.commentairePublication">Commentaire Publication</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let planPassation of planPassations ;trackBy: trackId">
                   <!-- <td><a [routerLink]="['/plan-passation', planPassation.id, 'view']">{{ planPassation.id }}</a></td>-->
                    <td>{{ planPassation.dateDebut | date:'mediumDate' }}</td>
                    <td>{{ planPassation.dateFin | date:'mediumDate' }}</td>
                    <td>{{ planPassation.annee }}</td>
                    <td>{{ planPassation.commentaire }}</td>

                   <!-- <td>{{ planPassation.dateCreation | date:'mediumDate' }}</td>
                    <td>{{ planPassation.dateMiseValidation | date:'mediumDate' }}</td>
                    <td>{{ planPassation.dateValidation | date:'mediumDate' }}</td>
                    <td>{{ planPassation.statut }}</td>
                    <td>{{ planPassation.commentaireMiseEnValidationAC }}</td>
                    <td>{{ planPassation.referenceMiseValidationAC }}</td>
                    <td>
                        <a *ngIf="planPassation.fichierMiseValidationAC" (click)="openFile(planPassation.fichierMiseValidationACContentType, planPassation.fichierMiseValidationAC)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="planPassation.fichierMiseValidationAC">{{ planPassation.fichierMiseValidationACContentType }}, {{ byteSize(planPassation.fichierMiseValidationAC) }}</span>
                    </td>
                    <td>{{ planPassation.dateMiseEnValidationCcmp | date:'mediumDate' }}</td>
                    <td>
                        <a *ngIf="planPassation.fichierMiseValidationCcmp" (click)="openFile(planPassation.fichierMiseValidationCcmpContentType, planPassation.fichierMiseValidationCcmp)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="planPassation.fichierMiseValidationCcmp">{{ planPassation.fichierMiseValidationCcmpContentType }}, {{ byteSize(planPassation.fichierMiseValidationCcmp) }}</span>
                    </td>
                    <td>{{ planPassation.referenceMiseValidationCcmp }}</td>
                    <td>{{ planPassation.dateValidation1 | date:'mediumDate' }}</td>
                    <td>{{ planPassation.commentaireValidation }}</td>
                    <td>{{ planPassation.referenceValidation }}</td>
                    <td>
                        <a *ngIf="planPassation.fichierValidation" (click)="openFile(planPassation.fichierValidationContentType, planPassation.fichierValidation)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="planPassation.fichierValidation">{{ planPassation.fichierValidationContentType }}, {{ byteSize(planPassation.fichierValidation) }}</span>
                    </td>
                    <td>{{ planPassation.dateValidation2 | date:'mediumDate' }}</td>
                    <td>{{ planPassation.dateRejet | date:'mediumDate' }}</td>
                    <td>{{ planPassation.datePublication | date:'mediumDate' }}</td>
                    <td>{{ planPassation.commentairePublication }}</td>-->
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/plan-passation', planPassation.id, 'view']"
                                    class="btn  btn-sm" [ngbTooltip]="btnDetails">
                                <fa-icon icon="eye" style="color: #28a745"></fa-icon>
                                <!--                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                            </button>

                            <button type="submit"
                                    [routerLink]="['/plan-passation', planPassation.id, 'edit']"
                                    class="btn  btn-sm" [ngbTooltip]="btnModifier">
                                <fa-icon icon="pencil-alt" style="color: #17a2b8"></fa-icon>
                                <!--                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                            </button>

                            <button type="submit" (click)="delete(planPassation)"
                                    class="btn  btn-sm" [ngbTooltip]="btnSuprimer">
                                <fa-icon icon="trash-alt" style="color: #aa0000"></fa-icon>
                                <!--                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="planPassations && planPassations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
