<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sygService">
            <h2><span jhiTranslate="gatewaysigmapApp.planpassationmsSygService.detail.title">Syg Service</span> {{ sygService.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsSygService.code">Code</span></dt>
                <dd>
                    <span>{{ sygService.code }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsSygService.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ sygService.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsSygService.description">Description</span></dt>
                <dd>
                    <span>{{ sygService.description }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsSygService.sygTypeService">Syg Type Service</span></dt>
                <dd>
                    <div *ngIf="sygService.sygTypeServiceId">
                        <a [routerLink]="['/syg-type-service', sygService.sygTypeServiceId, 'view']">{{ sygService.sygTypeServiceLibelle }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/syg-service', sygService.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
