<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paramDate">
            <h2><span jhiTranslate="gatewaysigmapApp.planpassationmsParamDate.detail.title">Param Date</span> {{ paramDate.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsParamDate.dateCreat">Date Creat</span></dt>
                <dd>
                    <span>{{ paramDate.dateCreat }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/param-date', paramDate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
