<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="realisation">
            <h2><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.detail.title">Realisation</span> {{ realisation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ realisation.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateAttribution">Date Attribution</span></dt>
                <dd>
                    <span>{{ realisation.dateAttribution }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.delaiexecution">Delaiexecution</span></dt>
                <dd>
                    <span>{{ realisation.delaiexecution }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.planPassation">Plan Passation</span></dt>
                <dd>
                    <div *ngIf="realisation.planPassationId">
                        <a [routerLink]="['/plan-passation', realisation.planPassationId, 'view']">{{ realisation.planPassationId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/realisation', realisation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
