<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="realisation">
            <h2><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.detail.title">Realisation</span> {{ realisation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ realisation.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateAttribution">Date Attribution</span></dt>
                <dd>
                    <span>{{ realisation.dateAttribution }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.delaiexecution">Delaiexecution</span></dt>
                <dd>
                    <span>{{ realisation.delaiexecution }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.objet">Objet</span></dt>
                <dd>
                    <span>{{ realisation.objet }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.montant">Montant</span></dt>
                <dd>
                    <span>{{ realisation.montant }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.examenDncmp">Examen Dncmp</span></dt>
                <dd>
                    <span>{{ realisation.examenDncmp }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.examenPtf">Examen Ptf</span></dt>
                <dd>
                    <span>{{ realisation.examenPtf }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.chapitreImputation">Chapitre Imputation</span></dt>
                <dd>
                    <span>{{ realisation.chapitreImputation }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.autorisationEngagement">Autorisation Engagement</span></dt>
                <dd>
                    <span>{{ realisation.autorisationEngagement }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateReceptionDossier">Date Reception Dossier</span></dt>
                <dd>
                    <span>{{ realisation.dateReceptionDossier }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateNonObjection">Date Non Objection</span></dt>
                <dd>
                    <span>{{ realisation.dateNonObjection }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateAutorisation">Date Autorisation</span></dt>
                <dd>
                    <span>{{ realisation.dateAutorisation }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateRecepNonObjection">Date Recep Non Objection</span></dt>
                <dd>
                    <span>{{ realisation.dateRecepNonObjection }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateRecepDossCorrige">Date Recep Doss Corrige</span></dt>
                <dd>
                    <span>{{ realisation.dateRecepDossCorrige }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.datePubParPrmp">Date Pub Par Prmp</span></dt>
                <dd>
                    <span>{{ realisation.datePubParPrmp }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateOuverturePlis">Date Ouverture Plis</span></dt>
                <dd>
                    <span>{{ realisation.dateOuverturePlis }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateRecepNonObjectOcmp">Date Recep Non Object Ocmp</span></dt>
                <dd>
                    <span>{{ realisation.dateRecepNonObjectOcmp }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateRecepRapportEva">Date Recep Rapport Eva</span></dt>
                <dd>
                    <span>{{ realisation.dateRecepRapportEva }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateRecepNonObjectPtf">Date Recep Non Object Ptf</span></dt>
                <dd>
                    <span>{{ realisation.dateRecepNonObjectPtf }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateExamenJuridique">Date Examen Juridique</span></dt>
                <dd>
                    <span>{{ realisation.dateExamenJuridique }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateNotifContrat">Date Notif Contrat</span></dt>
                <dd>
                    <span>{{ realisation.dateNotifContrat }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.dateApprobationContrat">Date Approbation Contrat</span></dt>
                <dd>
                    <span>{{ realisation.dateApprobationContrat }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsRealisation.planPassation">Plan Passation</span></dt>
                <dd>
                    <div *ngIf="realisation.planPassationId">
                        <a [routerLink]="['/plan-passation', realisation.planPassationId, 'view']">{{ realisation.planPassationId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/realisation', realisation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
