.hipster {
  display: inline-block;
  width: 8847px;
  height: 497px;
  background: url('../../content/images/appelOffre.jpg') no-repeat center top;
  background-size: contain;
}

.bg {
  /* The image used */
  background-image: url('../../content/images/appelOffre.jpg');
  /* Half height */
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: contain;
}
